.book-edit form {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.book-edit form input {
    margin-block-end: 15px;
    padding: 5px;
}

.book-edit form .desc {
    overflow-wrap: break-word;
    overflow-y: auto;
    height: auto;
}

.book-edit textarea {
    padding: 8px 12px;
    border: 1px solid var(--clrPrimaryDark1);
    border-radius: 8px;
    
}

.book-edit textarea:focus {
    background-color: #e1e0d9;
    transition: background-color 1s;
    outline: 1px solid var(--clrPrimaryDark1)
}

.input-group {
    margin-block-start: 10px;
    display: flex;
}

.input-half {
    flex: 1;
    margin-block-start: 1em;
    margin-right: 10px;
}

.input-group label.currency{
    margin-inline-start: 2em;
}

.input-group select{
    border: 1px solid var(--clrPrimaryDark1);
    border-radius: 8px;
    height: 2.5em;
}