.book-filter {
  border: 1px solid var(--clrPrimaryDark0);
  border-radius: 10px;
  background-color: var(--clrPrimaryLight1);
  margin-block: 1.5em;
}

.book-filter form {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-gap: 10px;
}

.book-filter button {
  font-weight: 700;
  color: #088395;
  margin-block-end: 10px;
}