.book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--clrPrimaryLight1);
    padding: 5px 12px;
    border: 5px groove var(--clrPrimaryDark1);
    border-radius: 25px;
}
.book-details h1 {
    color: #024f83;
    font-size: 2em;
    
}
.book-details h2 {
    color:#026ab0;
}
.book-details .banner {
    max-width: 200px;
    display: block;
    margin: auto;
}

.book-details .price.cheap {
    color: #96C291;
}

.book-details .price.expensive {
    color: #C70039;
}

.book-details .on-sale{
    max-width: 100%;
}

.book-details .book-desc {
    display: inline;
}

.book-details .read-more-btn {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
    color: #286a96;
}